:root {
    --one: #021721;
    --two: #08464A;
    --three: #268C6F;
    --four: #A7D6AC;
    --five: #D2E8C3;
}



vaadin-tab::after {
    background-color: var(--three);
    padding-right: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
}

vaadin-tab::before {
    background-color: var(--three);
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
}

vaadin-tab {
    color: var(--five);
    font-size: xx-large;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 15%;
}


.divider {
    background-color: red;
}


.home-Label {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    text-align: center;

    /*width: fit-content;*/
    border-radius: 10px;
    margin: 110px 20px 20px;
    padding: 25px;
    color: var(--five);
    background-color: var(--three);
    font-size: xxx-large;
    word-wrap: break-word; /* IE  */
    white-space: -moz-pre-wrap; /* Firefox */
}